{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}
    All categories - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header">
            <h1 class="mb-3">Рубрика "{{ category_detail.name }}"

            {% if request.user.is_authenticated and request.user not in category_detail.subscribers.all%}

                <a href="sub/{{ category_detail.id }}" class="btn btn-success"> Подписаться</a>

                {% endif %}
            </h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">Хотите создать новый пост? Не проблема! <a href="{% url 'post_add' %}"
                                                                              class="btn btn-success">Создать</a></h5>

        </div>
        <div class="card-footer text-muted">
        </div>
    </div>

    {% for post in category_detail.posts.all %}
        {% include 'blogapp/includes/post_preview_template.html' %}
    {% endfor %}
{% endblock %}